/* based on https://perfectmotherfuckingwebsite.com/ at 17 May 2020 */

html, body {
	overflow: hidden;
}

body {
	width: 80%;
	max-width: 650px;
	margin: 40px auto;
	padding: 0 10px;
	font: 135%/1.5 "Iosevka Web", Roboto, monospace;
	color: #ddd;
	background: #222
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 110%;
	}
}

h1, h2, h3 {
	text-align: center;
	line-height: 2;
}

/* hyperlinks */
a:link {
	color: #5bf;
	text-decoration: none;
}
a:visited {
	color: #5bf;
}
a:hover {
	color: #9cf;
}

/* vertical centering */
.container {
	height: 100%;
}
.vertical-center {
	position: absolute;
	top: 45%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	max-width: 80%;
	width: 650px;
}

/* corner small texts */
.corner {
	position: absolute;
	color: #999;
	font-size: 12px;
}
.top {
	top: 10px;
}
.bottom {
	bottom: 10px;
}
.right {
	right: 10px;
}
.left {
	left: 10px;
}
.corner > a:link {
	color: #bbe;
	text-decoration: none;
}
.corner > a:visited {
	color: #bbe;
}
.corner > a:hover {
	color: #9cf;
}
