.vertical-center {
	text-align: center; /* to align .scrolling-wrapper */
}

.scrolling-wrapper {
	/* scrolling properties */
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;

	/* cosmetic */
	scrollbar-width: thin;
	background: #282828;
	width: 640px;
	max-width: 100%;
	display: inline-block; /* to align .scrolling-wrapper */
}

.scrolling-wrapper > .card {
	/* scrolling properties */
	display: inline-block;

	/* cosmetic */
	text-align: center;
	width: 200px;
	height: 12em;
	bottom: 0.6em;
	position: relative;
	overflow-y: scroll;
	scrollbar-width: none;
}

/* hide scrollbar on webkit browsers */
::-webkit-scrollbar {
	width: 3px;
	background: transparent;
}
